@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ask" asp-route-type="success" class="btn btn-success">
        Success
    </a>
    <a asp-action="ask" asp-route-type="info" class="btn btn-info">
        Info
    </a>
    <a asp-action="ask" asp-route-type="error" class="btn btn-danger">
        Error
    </a>
</div>
